 #profile{

    display: none;

    position: absolute;

    float: right;

    right: 0;

    top: 50px;

    text-align: center;

    width: 200px;

    height: 100px;

    background-color: antiquewhite;

    z-index: 1;

}


.profile-name{

    font-size: 19px;

    font-family: Arial, Helvetica, sans-serif;

}


#profile a{

    text-decoration: none;

    padding: 10px 30px;

    background-color: orange;

}
